body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #181818;
}   

/* .banner {
    background: #6bec68;
    height: 700px;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    color: black;
    text-align: center;
} */



/* #about {
    padding: 1.5rem 5%;
    background-color: #181818;
} */

/* .content {
    padding: 40px 3%;
    justify-content: center;
} */

/* Les éléments avec cette classe seront invisibles au départ */
.reveal {
  opacity: 0;
  transform: translateY(30px); /* Légère descente */
  transition: none; /* On laisse GSAP gérer l'animation */
}

section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #FFFFFF;

}

section {    
    background-color: #181818;  
    margin-bottom: 2rem;
    margin-top: 2rem;
}

section p {
    color:white;
}
section img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}


